.trackCardWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #fff;
  margin: 40px auto;
  gap: 40px;
  place-items: center;
  width: 80%;
}

.trackCard {
  border: 2px solid rgba(255, 255, 255, 0.5);
  padding: 16px 24px;
  width: 440px;
  height: 175px;
  border-radius: 12px;
}

.trackArtist,
.trackAlbum {
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 8px 0;
  font-size: 16px;
  font-weight: lighter;
}

.trackName {
  font-size: 25px;
  font-weight: bold;
}

.lyricsButtonWrapper {
  text-align: right;
  margin-top: 32px;
}

.header {
  color: #fff;
  text-align: center;
  font-size: 2.5rem;
}

.trackName.skeleton,
.trackArtist.skeleton,
.trackAlbum.skeleton {
  width: 70%;
}

.lyricsButton {
  height: 32px;
  width: 100%;
  cursor: pointer;
  border: none;
  color: white;
  letter-spacing: 1px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
}

.lyricsTrackName.skeleton {
  height: 30px;
  margin: auto;
  margin-bottom: 10px;
  width: 70%;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 2;
  width: 200%;
  font-weight: lighter;
  height: 50vh;
  margin: auto;
  border-radius: 12px;
  font-size: 16px;
  border: 2px solid rgba(255, 255, 255, 0.5);
}
