.header {
  text-align: center;
  font-size: 1.35rem;
  color: var(--secondary-color);
}

.trackCardWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 380px), 1fr));
  gap: 20px;
  width: 80%;
  margin: auto;
}

.trackCard {
  border: 2px solid rgba(255, 255, 255, 0.5);
  padding: 16px 24px;
  border-radius: 12px;
  box-sizing: border-box;
  transition-duration: 300ms;
}

.trackName {
  font-size: 1rem;
  font-weight: bold;
  transition-duration: 300ms;
}

.trackArtist,
.trackAlbum {
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 8px 0;
  font-size: 0.8rem;
  font-weight: 500;
}

.trackCard:hover {
  border-color: var(--secondary-color);
}

.trackCard .lyricsButton {
  transition-duration: 300ms;
  height: 24px;
  font-size: 12px;
  width: 100%;
  cursor: pointer;
  border: none;
  color: var(--primary-color);
  letter-spacing: 1px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
}

.trackCard:hover .lyricsButton {
  background-color: var(--secondary-color);
}

.trackCard:hover .trackName {
  color: var(--secondary-color);
}

.trackCard:hover .trackName.skeleton {
  color: transparent;
}

.lyricsButtonWrapper {
  text-align: right;
  margin-top: 16px;
}

.trackName.skeleton,
.trackArtist.skeleton,
.trackAlbum.skeleton {
  width: 70%;
}

.lyricsTrackName.skeleton {
  height: 30px;
  margin: auto;
  margin-bottom: 10px;
  width: 70%;
}

@media screen and (min-width: 768px) {
  .header {
    font-size: 2rem;
  }

  .trackCardWrapper {
    width: 90%;
    gap: 32px;
  }

  .trackName {
    font-size: 1.25rem;
  }

  .trackArtist,
  .trackAlbum {
    font-size: 1rem;
  }

  .trackCard .lyricsButton {
    height: 32px;
    font-size: 14px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    font-size: 2.5rem;
  }

  .trackCardWrapper {
    width: 75%;
    gap: 40px;
  }
}
