.lyricsContainer {
  margin-top: 120px;
  margin-bottom: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}

.lyricsWrapper {
  color: #fff;
  width: 50%;
  margin: auto;
  padding: 40px;
  border-radius: 20px;
  border: 2px solid #fff;
  transition-duration: 1s;
}

.lyricsWrapper:hover {
  border: 2px solid #1cb4a0;
  transition-duration: 1s;

  .lyricsArtist {
    transition-duration: 1s;
    color: #1cb4a0;
  }
}

.lyrics {
  font-size: 16px;
  line-height: 2;
  margin-top: 40px;
  white-space: pre-line;
  text-align: center;
  font-weight: lighter;
}

.lyricsArtist {
  font-style: italic;
  transition-duration: 1s;
}

.lyricsTrackName {
  font-size: 2.5rem;
}

.lyricsInfo {
  text-align: center;
}

.copyRight {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 32px;
  font-size: 14px;
  font-weight: bold;
}

.copyRightLogoWrapper {
  height: 24px;
}

.lyricsArtist.skeleton {
  height: 30px;
  width: 40%;
  margin: auto;
}

.lyricsLine.skeleton {
  height: 30px;
  margin: 8px 0;
}

@media (max-width: 576px) {
  .lyricsContainer {
    margin-top: 100px;
  }
  .lyricsWrapper {
    width: 90%;
    padding: 20px;
    box-sizing: border-box;
  }
  .lyricsTrackName {
    font-size: 1.5rem;
  }

  .lyrics {
    margin-top: 20px;
    font-size: 12px;
    line-height: 1.5;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .lyricsContainer {
    margin-top: 120px;
  }
  .lyricsWrapper {
    width: 70%;
    padding: 30px;
    box-sizing: border-box;
  }
  .lyricsTrackName {
    font-size: 2rem;
  }

  .lyrics {
    margin-top: 30px;
    font-size: 14px;
    line-height: 1.5;
  }
}
