.lyricsContainer {
  display: flex;
  flex-direction: column;
}

.lyricsWrapper {
  width: min(80%, 700px);
  margin: auto;
  padding: 4%;
}

.lyricsWrapper:hover .lyricsArtist {
  transition-duration: 500ms;
  color: var(--secondary-color);
}

.lyricsInfo {
  text-align: center;
}

.lyricsTrackName {
  font-size: 1.5rem;
}

.lyricsArtist {
  transition-duration: 500ms;
  font-size: 0.9rem;
  font-style: italic;
}

.lyrics {
  font-size: 0.8rem;
  line-height: 2;
  margin-top: 20px;
  white-space: pre-line;
  text-align: center;
  font-weight: lighter;
}

.copyRight {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-size: 0.75rem;
  font-weight: 400;
}

.copyRightLogoWrapper {
  height: 24px;
}

.lyricsArtist.skeleton {
  height: 30px;
  width: 40%;
  margin: auto;
}

.lyricsLine.skeleton {
  height: 30px;
  margin: 8px 0;
}

@media screen and (min-width: 768px) {
  .lyricsTrackName {
    font-size: 2rem;
  }

  .lyricsArtist,
  .lyrics {
    font-size: 1rem;
  }

  .copyRight {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 1024px) {
  .lyricsTrackName {
    font-size: 2.5rem;
  }

  .lyricsArtist,
  .lyrics {
    font-size: 1.15rem;
  }

  .noLyrics {
    font-size: 1rem;

    h1 {
      font-size: 2.5rem;
      margin: 0;
    }
  }
}
