.navbar {
  /* position: absolute; */
  width: 100%;
  background: #111;
  padding: 12px;
  padding-left: 4%;
  top: 0;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 24px;
}

.logoWrapper {
  display: flex;
  align-items: center;
}

.logoName {
  font-size: 18px;
  font-weight: bolder;
}

.logo {
  border: 2px solid var(--secondary-color);
  margin-right: 16px;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 0 8px;
}

.logo a {
  color: #fff;
  text-decoration: none;
  width: 100%;
}

.logoTagline {
  font-size: 12px;
  font-weight: lighter;
}

@media screen and (min-width: 768px) {
  .navbar {
    padding: 16px;
    font-size: 32px;
  }

  .logo {
    padding: 0 10px;
  }

  .logoName {
    font-size: 24px;
  }
}
