.footer {
  position: relative;
  width: 100%;
  bottom: 0;
  background: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

.socialWrapper {
  width: 100%;
  text-align: center;
}

.socialIcons {
  margin: 16px 0;
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;
}

.icon {
  width: 24px;
  height: 24px;
}

.icon svg {
  fill: #fff;
  transition-duration: 300ms;
}

.icon svg:hover {
  fill: #1cb4a0;
  transition-duration: 300ms;
}

@media screen and (min-width: 768px) {
  .socialIcons {
    gap: 36px;
  }
}

@media screen and (min-width: 1024px) {
  .socialIcons {
    gap: 54px;
  }
}
