.searchWrapper {
  text-align: center;
}

.inputSearch {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  outline: none;
  color: #fff;
  background-color: transparent;
  font-family: "Poppins";
  height: 32px;
  width: min(80%, 700px);
  padding: 20px;
  font-size: 14px;
}

.inputSearch:hover,
.inputSearch:focus {
  border-color: var(--secondary-color);
}

@media screen and (min-width: 768px) {
  .inputSearch {
    padding: 24px;
    font-size: 18px;
  }
}
