body {
  padding: 0;
  margin: 0;
  background-color: #191919;
}

html {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.skeleton {
  animation: loading 1s linear infinite alternate;
  color: transparent;
}

@keyframes loading {
  0% {
    background-color: white;
    opacity: 0.2;
  }

  100% {
    background-color: white;
    opacity: 0.3;
  }
}
